/* Global Styles */

html, body, #root, .App {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.main-container {
  height: 100%;
  width: 100%;
  background-color: #eff0f1;
}
